# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Confidential files
# Config.swift       # Uncomment to ignore this file completely

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Derived Data 
DerivedData/

# macOS
.DS_Store

# Sensitive information
*.pem
*.key
*.p12
*.mobileprovision
*.cer
